.iphone-pro-max {
  background-color: #feffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div {
  background-color: #feffff;
  overflow: hidden;
  width: 414px;
  height: 896px;
  position: relative;
}

.iphone-pro-max .overlap {
  position: absolute;
  width: 422px;
  height: 52px;
  top: 862px;
  left: -4px;
  background-color: #698bcf;
  border-radius: 15px;
}

.iphone-pro-max .customer {
  position: absolute;
  width: 34px;
  height: 21px;
  top: 8px;
  left: 375px;
}

.iphone-pro-max .journal {
  position: absolute;
  width: 33px;
  height: 21px;
  top: 8px;
  left: 8px;
}

.iphone-pro-max .home {
  position: absolute;
  width: 34px;
  height: 21px;
  top: 8px;
  left: 193px;
}

.iphone-pro-max .prize {
  position: absolute;
  width: 35px;
  height: 21px;
  top: 8px;
  left: 100px;
}

.iphone-pro-max .people {
  position: absolute;
  width: 37px;
  height: 23px;
  top: 7px;
  left: 293px;
}

.iphone-pro-max .overlap-group {
  position: absolute;
  width: 412px;
  height: 207px;
  top: 0;
  left: 2px;
}

.iphone-pro-max .volume {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 2px;
  left: 0;
}

.iphone-pro-max .zoom-in {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 5px;
  left: 36px;
}

.iphone-pro-max .overlap-2 {
  position: absolute;
  width: 407px;
  height: 207px;
  top: 0;
  left: 5px;
}

.iphone-pro-max .overlap-3 {
  position: absolute;
  width: 296px;
  height: 151px;
  top: 0;
  left: 111px;
}

.iphone-pro-max .vector {
  position: absolute;
  width: 253px;
  height: 106px;
  top: 0;
  left: 0;
}

.iphone-pro-max .img {
  width: 169px;
  top: 2px;
  left: 127px;
  position: absolute;
  height: 149px;
}

.iphone-pro-max .goals-of-the-month {
  position: absolute;
  width: 226px;
  top: 117px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3f3d56;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .rectangle {
  position: absolute;
  width: 1px;
  height: 243px;
  top: 683px;
  left: 661px;
  background-color: #d9d9d9;
  transform: rotate(180deg);
}

.iphone-pro-max .line {
  width: 243px;
  top: -2503px;
  left: -3138px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.iphone-pro-max .line-2 {
  width: 243px;
  top: -2504px;
  left: -3187px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.iphone-pro-max .line-3 {
  width: 371px;
  top: -2258px;
  left: -3507px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.iphone-pro-max .overlap-4 {
  position: absolute;
  width: 408px;
  height: 266px;
  top: 583px;
  left: 0;
}

.iphone-pro-max .overlap-group-2 {
  position: absolute;
  width: 404px;
  height: 223px;
  top: 0;
  left: 0;
}

.iphone-pro-max .vector-2 {
  width: 169px;
  top: 25px;
  left: 0;
  position: absolute;
  height: 149px;
}

.iphone-pro-max .vector-3 {
  width: 223px;
  top: 74px;
  left: 0;
  position: absolute;
  height: 149px;
}

.iphone-pro-max .group {
  position: absolute;
  width: 383px;
  height: 155px;
  top: 0;
  left: 21px;
}

.iphone-pro-max .text-wrapper {
  position: absolute;
  height: 38px;
  top: 11px;
  left: 36px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-2 {
  position: absolute;
  height: 38px;
  top: 36px;
  left: 44px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-3 {
  position: absolute;
  height: 38px;
  top: 99px;
  left: 44px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .rectangle-2 {
  position: absolute;
  width: 338px;
  height: 27px;
  top: 65px;
  left: 38px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
  background: linear-gradient(
    90deg,
    rgba(190, 255, 198, 1) 33%,
    rgba(248, 248, 248, 1) 33%
  );
}

.iphone-pro-max .div-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 216px;
  left: 358px;
  background-color: #698bcf;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
}

.iphone-pro-max .text-wrapper-4 {
  position: absolute;
  height: 38px;
  top: 5px;
  left: 7px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .overlap-5 {
  position: absolute;
  width: 374px;
  height: 145px;
  top: 231px;
  left: 25px;
  background-color: #ffffff;
  border-radius: 25.45px;
  border: 1.02px solid;
  border-color: #00000038;
  box-shadow: 1.02px 2.04px 4.07px #00000040;
}

.iphone-pro-max .overlap-6 {
  position: absolute;
  width: 340px;
  height: 81px;
  top: 9px;
  left: 11px;
}

.iphone-pro-max .p {
  position: absolute;
  height: 38px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-5 {
  position: absolute;
  height: 38px;
  top: 25px;
  left: 8px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .rectangle-3 {
  position: absolute;
  width: 338px;
  height: 27px;
  top: 54px;
  left: 2px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
  background: linear-gradient(
    90deg,
    rgba(190, 255, 198, 1) 39%,
    rgba(248, 248, 248, 1) 39%
  );
}

.iphone-pro-max .text-wrapper-6 {
  position: absolute;
  height: 38px;
  top: 96px;
  left: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .overlap-7 {
  position: absolute;
  width: 374px;
  height: 145px;
  top: 408px;
  left: 25px;
  background-color: #ffffff;
  border-radius: 25.45px;
  border: 1.02px solid;
  border-color: #00000038;
  box-shadow: 1.02px 2.04px 4.07px #00000040;
}

.iphone-pro-max .rectangle-4 {
  position: absolute;
  width: 338px;
  height: 27px;
  top: 54px;
  left: 2px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
  background: linear-gradient(
    90deg,
    rgba(190, 255, 198, 1) 58%,
    rgba(248, 248, 248, 1) 58%
  );
}
