.iphone-pro-max {
  background-color: #feffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div {
  background-color: #feffff;
  width: 414px;
  height: 896px;
  position: relative;
}

.iphone-pro-max .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 321px;
  height: 56px;
  top: 719px;
  left: 47px;
}

.iphone-pro-max .overlap-group {
  position: relative;
  width: 319px;
  height: 56px;
  background-color: #698bcf;
  border-radius: 14px;
  box-shadow: 0px 8px 28px #1ad15c1a;
}

.iphone-pro-max .text-wrapper {
  position: absolute;
  height: 38px;
  top: 9px;
  left: 137px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-2 {
  position: absolute;
  top: 134px;
  left: 47px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #0a0909;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .overlap {
  position: absolute;
  width: 67px;
  height: 90px;
  top: 2px;
  left: 2px;
}

.iphone-pro-max .overlap-2 {
  position: absolute;
  width: 60px;
  height: 90px;
  top: 0;
  left: 0;
}

.iphone-pro-max .back {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 34px;
  left: 4px;
}

.iphone-pro-max .volume {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
}

.iphone-pro-max .zoom-in {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 3px;
  left: 36px;
}

.iphone-pro-max .overlap-3 {
  position: absolute;
  width: 327px;
  height: 267px;
  top: 295px;
  left: 46px;
}

.iphone-pro-max .notification {
  position: absolute;
  width: 257px;
  height: 86px;
  top: 110px;
  left: 8px;
}

.iphone-pro-max .text-wrapper-3 {
  position: absolute;
  height: 38px;
  top: 0;
  left: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .group {
  position: absolute;
  width: 255px;
  height: 48px;
  top: 38px;
  left: 0;
  background-color: #f8f8f6;
  border-radius: 14px;
}

.iphone-pro-max .notification-fill {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 20px;
}

.iphone-pro-max .notification-2 {
  position: absolute;
  width: 319px;
  height: 48px;
  top: 219px;
  left: 8px;
}

.iphone-pro-max .overlap-group-wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 271px;
}

.iphone-pro-max .overlap-group-2 {
  position: relative;
  height: 48px;
  border-radius: 14px;
}

.iphone-pro-max .add-line {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
}

.iphone-pro-max .rectangle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: #1bd15d;
  border-radius: 14px;
  opacity: 0.07;
}

.iphone-pro-max .group-2 {
  position: absolute;
  width: 255px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: #f8f8f6;
  border-radius: 14px;
}

.iphone-pro-max .amount-how-long {
  position: absolute;
  width: 322px;
  height: 263px;
  top: 0;
  left: 0;
}

.iphone-pro-max .text-wrapper-4 {
  position: absolute;
  height: 38px;
  top: 0;
  left: 1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .group-3 {
  position: absolute;
  width: 332px;
  height: 225px;
  top: 38px;
  left: 0;
}

.iphone-pro-max .overlap-group-3 {
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  background-color: #f8f8f6;
  height: 48px;
  border-radius: 14px;
}

.iphone-pro-max .overlap-4 {
  position: absolute;
  width: 114px;
  height: 38px;
  top: 7px;
  left: 15px;
}

.iphone-pro-max .text-wrapper-5 {
  position: absolute;
  width: 108px;
  height: 38px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .calendar-fill {
  position: absolute;
  width: 42px;
  height: 20px;
  top: 7px;
  left: 19px;
}

.iphone-pro-max .arrow-drop-up-fill {
  top: 11px;
  left: 80px;
  position: absolute;
  width: 34px;
  height: 16px;
}

.iphone-pro-max .text-wrapper-6 {
  position: absolute;
  width: 108px;
  height: 38px;
  top: 7px;
  left: 204px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .text-wrapper-7 {
  position: absolute;
  width: 7px;
  height: 38px;
  top: 5px;
  left: 157px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .text-wrapper-8 {
  position: absolute;
  width: 108px;
  height: 38px;
  top: 115px;
  left: 16px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .text-wrapper-9 {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 115px;
  left: 178px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .text-wrapper-10 {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 187px;
  left: 177px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .text-wrapper-11 {
  position: absolute;
  width: 53px;
  height: 38px;
  top: 223px;
  left: 38px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
}

.iphone-pro-max .img {
  top: 164px;
  left: 106px;
  position: absolute;
  width: 34px;
  height: 16px;
}

.iphone-pro-max .arrow-drop-up-fill-2 {
  top: 236px;
  left: 78px;
  position: absolute;
  width: 34px;
  height: 16px;
}

.iphone-pro-max .arrow-drop-up-fill-3 {
  position: absolute;
  width: 34px;
  height: 16px;
  top: 55px;
  left: 272px;
}

.iphone-pro-max .arrow-drop-up-fill-4 {
  top: 164px;
  left: 224px;
  position: absolute;
  width: 34px;
  height: 16px;
}

.iphone-pro-max .arrow-drop-up-fill-5 {
  top: 237px;
  left: 224px;
  position: absolute;
  width: 34px;
  height: 16px;
}

.iphone-pro-max .vector {
  position: absolute;
  width: 17px;
  height: 18px;
  top: 120px;
  left: 8px;
}

.iphone-pro-max .pills-name {
  position: absolute;
  width: 321px;
  height: 90px;
  top: 185px;
  left: 47px;
}

.iphone-pro-max .text-wrapper-12 {
  position: absolute;
  height: 38px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}

.iphone-pro-max .div-wrapper {
  position: absolute;
  width: 321px;
  height: 48px;
  top: 42px;
  left: 0;
}

.iphone-pro-max .overlap-group-4 {
  position: relative;
  width: 319px;
  background-color: #f8f8f6;
  height: 48px;
  border-radius: 14px;
}

.iphone-pro-max .p {
  position: absolute;
  height: 38px;
  top: 5px;
  left: 52px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0a0909;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
}
