body {
  margin: 0;
  background-color: #F4E3FF; /* Light purple background */
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 100px;
}

.container {
  position: relative; /* Enable absolute positioning for children */
  width: 200px;
  height: 200px;
  background: linear-gradient(145deg, #7a5598, #9b75c2); /* subtle gradient border look */
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
} 

.square {
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: #3b1f52; /* Dark purple */
  border-radius: 20px;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Larger than before */
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 1;
}

